[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.13"
"fabric3" = "*"
"jinja2" = "*"
click = "*"
"django-s3-image-service" = "==0.0.5"
djangorestframework = "*"
"boto3" = "*"
pillow = "*"
celery = "*"
django-politico-oembed-service = "*"
django-politico-token-service = "*"
"psycopg2" = "*"
django-storages = "*"
django-environ = "*"
whitenoise = "*"
redis = "*"
django-cors-headers = "*"

[dev-packages]
